<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.studio124.zurvivor"
    android:versionCode="6"
    android:versionName="1.1.6" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/z_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MENUS -->

        <activity
            android:name=".menus.MenuIdentification"
            android:label="@string/menu_identification_titre"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".menus.MenuCreationCompte"
            android:label="@string/menu_creation_compte_titre"
            android:screenOrientation="portrait">
        </activity>

        <!-- INTERFACES -->

        <activity
            android:name=".interfaces.InterfaceChat"
            android:label="Chat"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".interfaces.InterfaceInventaire"
            android:label="Inventaire"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".interfaces.InterfaceProfil"
            android:label="Profil"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".interfaces.InterfaceCarte"
            android:label="Carte"
            android:screenOrientation="portrait" >
        </activity>

        <!-- AUTRES -->

        <activity
            android:name=".PermissionGps" >
        </activity>

    </application>

</manifest>
